/server-side/dist
/server-side/node_modules
/server-side/build
/server-side/generated/prisma

/client-side/dist
/client-side/node_modules
/client-side/build

/server-side/logs
/server-side/*.log
/server-side/npm-debug.log*
/server-side/yarn-debug.log*
/server-side/yarn-error.log*
/server-side/lerna-debug.log*

/client-side/logs
/client-side/*.log
/client-side/npm-debug.log*
/client-side/yarn-debug.log*
/client-side/yarn-error.log*
/client-side/lerna-debug.log*

/server-side/.DS_Store

/client-side/.DS_Store

/server-side/coverage
/server-side/.nyc_output

server-side/.idea
server-side/.project
server-side/.classpath
server-side/.c9/
server-side/*.launch
server-side/.settings/
server-side/*.sublime-workspace

client-side/.idea
/client-side/.next
client-side/.project
client-side/.classpath
client-side/.c9/
client-side/*.launch
client-side/.settings/
client-side/*.sublime-workspace

server-side/.vscode/*
server-side/!.vscode/settings.json
server-side/!.vscode/tasks.json
server-side/!.vscode/launch.json
server-side/!.vscode/extensions.json

client-side/.vscode/*
client-side/!.vscode/settings.json
client-side/!.vscode/tasks.json
client-side/!.vscode/launch.json
client-side/!.vscode/extensions.json
client-side/.env

server-side/.env
server-side/.env.development.local
server-side/.env.test.local
server-side/.env.production.local
server-side/.env.local

server-side/.temp
server-side/.tmp

server-side/pids
server-side/*.pid
server-side/*.seed
server-side/*.pid.lock
server-side/uploads

server-side/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json